<div class="p-4">
    <div class="d-flex justify-content-center">
        <h3>Folha de ponto</h3>
    </div>
    <div class="row">
        <div class="col-4">
            <h3>Janeiro</h3>
        </div>
        <div>
            <div class="row">
                <div>Já passaram</div>
                <div style="height: 1px;" class="ml-1 my-1 border border-warning bg-warning p-2"></div>
                <div class="ml-2">Dia atual</div>
                <div style="height: 1px;" class="ml-2 my-1 border border-success bg-success p-2"></div>
                <div class="ml-2">Dias restantes</div>
                <div style="height: 1px;" class="ml-2 my-1 border border-info bg-info p-2"></div>
            </div>
        
        </div>
    </div>
    <div class="col-12 shadow-sm rounded-bottom">
        <h5>Filtro</h5>
        <div class="">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="example-container m-0 p-2" >
                    <mat-form-field>
                        <mat-select ngModel name="mes" placeholder="Selecione">
                            <mat-option value="01">Janeiro</mat-option>
                            <mat-option value="02">Fevereiro</mat-option>
                            <mat-option value="03">Março</mat-option>
                            <mat-option value="04">Abril</mat-option>
                            <mat-option value="05">Maio</mat-option>
                            <mat-option value="06">Junho</mat-option>
                            <mat-option value="07">Julho</mat-option>
                            <mat-option value="08">Agosto</mat-option>
                            <mat-option value="09">Setembro</mat-option>
                            <mat-option value="10">Outrubro</mat-option>
                            <mat-option value="11">Novembro</mat-option>
                            <mat-option value="12">Dezembro</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-raised-button color="primary">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-12 shadow-sm rounded-bottom">
</div>

<div class="mat-elevation-z8">
    <table class="center" mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="dia">
            <th mat-header-cell *matHeaderCellDef>Dia</th>
            <td class="text-danger" mat-cell *matCellDef="let element"> {{element.dia}} </td>
        </ng-container>

        <ng-container matColumnDef="horario_chegada">
            <th mat-header-cell *matHeaderCellDef> Horário chegada </th>
            <td mat-cell *matCellDef="let element"><input class="hc" (dblclick)="updateHour($event)" [(ngModel)]="element.horario_chegada" #ctrl="ngModel"></td>
        </ng-container>

        <ng-container matColumnDef="saida_intervalo">
            <th mat-header-cell *matHeaderCellDef>Saída intervalo</th>
            <td mat-cell *matCellDef="let element"><input class="hc" (dblclick)="updateHour($event)" [(ngModel)]="element.saida_intervalo" #ctrl="ngModel"></td>
        </ng-container>

        <ng-container matColumnDef="chegada_intervalo">
            <th mat-header-cell *matHeaderCellDef>Chegada intervalo</th>
            <td mat-cell *matCellDef="let element"><input class="hc"  (dblclick)="updateHour($event)" [(ngModel)]="element.chegada_intervalo" #ctrl="ngModel"></td>
        </ng-container>

        <ng-container matColumnDef="horario_saida">
            <th mat-header-cell *matHeaderCellDef>Horário de saída </th>
            <td mat-cell *matCellDef="let element"><input class="hc"  (dblclick)="updateHour($event)" [(ngModel)]="element.horario_saida" #ctrl="ngModel">
        </ng-container>

        <ng-container matColumnDef="justificativa">
            <th mat-header-cell *matHeaderCellDef>Justificativa </th>
            <td mat-cell *matCellDef="let element">{{element.justificativa}}</td>
        </ng-container>

        <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Editar </th>
            <td mat-cell *matCellDef="let element"><button mat-flat-button (click)="rowData(element)" color="primary">Aplicar</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    </table>
  <mat-paginator [pageSizeOptions]="[31, 30, 28, 29]" showFirstLastButtons></mat-paginator>
</div>


