<nav class="navbar navbar-expand-lg nav-color">
        <h4>Marca P<i class="material-icons">alarm_on</i>NTO</h4>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse font-nav-color" id="navbarText">
        <ul class="ml-3 navbar-nav mr-auto">
        <li class="nav-item active">
            <a routerLink="" [routerLinkActive]="['active']" class="nav-link">Horários</a>
        </li>
        <li class="nav-item">
            <a routerLink="export" [routerLinkActive]="['active']" class="nav-link">Exportar</a>
        </li>
        </ul>
    </div>
</nav>
