<div class="col-md-6 user-container">
    <h2 class="text-center">Add User</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nome produto:</label>
        <input type="text" formControlName="name" placeholder="Nome" name="name" class="form-control" id="name">
      </div>
  
      <div class="form-group">
        <label for="value">Valor produto:</label>
        <input type="value" formControlName="value" placeholder="Valor" name="value" class="form-control" id="value">
      </div>
  
      <div class="form-group">
        <label for="date_launch">Data lançamento:</label>
        <input formControlName="date_launch" placeholder="Data de lançamento" name="date_launch" class="form-control" id="date_launch">
      </div>
      <button class="btn btn-success">Adicionar</button>
    </form>
  </div>